body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
}

h1,
h2 {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

a {
  text-decoration: none;
  background: #f0f0f0;
  color: #333;
  font-weight: bold;
  text-align: center;
  padding: 20px 40px;
  border-radius: 10px;
}

a:hover {
  background: #e0e0e0;
}